<component name="libraryTable">
  <library name="spring-web-5.3.6">
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-web/5.3.6/spring-web-5.3.6.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.ideaLibSources/spring-web-5.3.6-sources.jar!/" />
    </SOURCES>
  </library>
</component>